@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

.custom-btn{
  position: absolute;
    top:10%;
    left: 50%;
}
@media (max-width: 450px) {
  .custom-btn {
    top:10%;
    position: absolute;
    left: 30%;
  }
}
@media (min-width: 451px) and (max-width: 768px) {
  .custom-btn {
    top:10%;
    position: absolute;
    left: 40%;
  }
}


@layer components {
    .leftsidebar {
        @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
      }
    
      .leftsidebar_link {
        @apply relative flex justify-start gap-4 rounded-lg p-4;
      }
       .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-center gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }
}